---
interface feature {
    text: string,
    isIncluded: boolean 
}

export interface PriceCardProps {
    available?: boolean,
    title: string,
    price: number,
    features: feature[],
    paymentLink: string,
    currencySymbol?: string,
    period?: string,
}

const {title, price, features, paymentLink, currencySymbol="R$", period="mensual", available=true} = Astro.props as PriceCardProps;
---

<!-- originally it was max-w-sm  -->
<div class="w-full max-w-lxl p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-8  ">
    <h5 class="mb-4 h3 text-center text-gray-500 ">{title}</h5>
    <div class="flex items-baseline text-gray-900">
        <span class="text-base md:text-2xl font-semibold pb-2">{currencySymbol}</span>
        <span class="text-4xl md:text-6xl font-extrabold ">{price}</span>
        <span class="ms-1 text-gray-500 ">/{period}</span>
    </div>
    <ul role="list" class="space-y-4 my-4">
        {features.map((feature) => (
            <li class={`flex items-center ${!feature.isIncluded ? 'line-through decoration-gray-500' : ''}`}>
                <svg class={`shrink-0 w-4 h-4 ${feature.isIncluded ? 'text-blue-700' : 'text-gray-400'}`} aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                </svg>
                <span class="text-gray-500  ms-3">{feature.text}</span>
            </li>
        ))}
    </ul>
    {available ? (
    <a href={paymentLink} class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center">Elegir Plan</a>
    ) : (
    <span class="text-white bg-gray-700  focus:ring-4 focus:outline-none  font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center">Próximamente</span>
    )
}

</div>
