---
import { Image } from 'astro:assets';
import restauranteMobileImage from "@assets/restaurantejm-mobile.jpg";
import restauranteDesktopImage from "@assets/restaurantejm-desktop.jpg";
import tapizMobileImage from "@assets/tapizguzman-mobile.jpg";
import tapizDesktopImage from "@assets/tapizguzman-desktop.jpg";

import TwoColumnsGrid from "@components/TwoColumnsGrid.astro";
import SectionContainer from "@components/SectionContainer.astro";

const linkWhatsapp = "https://wa.me/5565992823891?text=Hola%2C%20estoy%20interesado%20en%20sus%20servicios%20de%20creaci%C3%B3n%20de%20p%C3%A1gina%20web%20administrada%2C%20me%20gustar%C3%ADa%20tener%20m%C3%A1s%20informaci%C3%B3n.%20https%3A%2F%2Flanding-servicio-pwa.pages.dev%2F%20" 
---

<SectionContainer sectionClass="space-y-8 mx-auto text-center sm:text-start  max-w-6xl!">
    
    <TwoColumnsGrid rightIsWider>
        <div class="space-y-4">
            <p class="sm:hidden h2 text-black">Fácil de comenzar, fácil de mantener</p>
            <Image class="shadow-2xl rounded-xl" src={restauranteMobileImage} alt="Pantallas en formato para telefonos del sitio web restaurantejm.com.br" />
        </div>
        <div class="space-y-4 text-gray-600">
            <p class="hidden sm:block h2 text-black">Fácil de comenzar, fácil de mantener</p>
            <p>No necesitas aprender diseño ni manejar plataformas complicadas. Yo me encargo de todo el proceso, desde la configuración hasta las actualizaciones. ¿Cambios en el contenido? <a class="link" href={linkWhatsapp} target="_blank">Me escribes directamente</a> y lo soluciono, sin tarifas adicionales ni dolores de cabeza.</p>
        </div>        
    </TwoColumnsGrid>  

    <TwoColumnsGrid sectionClass="flex! flex-col-reverse sm:grid!">
        <div class="space-y-4 text-gray-600">
            <p class="hidden sm:block   h2 text-black">Diseño para todos los dispositivos</p>
            <p>
                ¿Ya tienes claro cómo quieres que se vea tu sitio? ¿Encontraste un diseño en internet que te inspira? ¿O prefieres dejarlo en mis manos? Puedo ayudarte en cualquiera de los casos. Lo importante es que tu sitio se verá bien en todos los dispositivos.
            </p>
            <div class="text-center text-black grid sm:grid-cols-2 items-end gap-4 mt-8">
                <a class="btn-outlined " href="https://restaurantejm.com.br" target="_blank">Ver Diseño</a>
                <a class="btn-primary" href="#planes">Ver Plan</a>
            </div>
        </div>
        <div class="space-y-4">
            <p class="sm:hidden h2 text-black">Diseño para todos los dispositivos</p>
            <Image class="shadow-2xl rounded-xl" src={restauranteDesktopImage} alt="Pantallas en formato para computadores del sitio web restaurantejm.com.br" />
        </div>
    </TwoColumnsGrid>  
 <!-- Ademaś, con los metadatos de tu <b>página web administrada</b> tendrás links con imagenes para compartir tu sitio en redes sociales. -->
    <TwoColumnsGrid rightIsWider>
        <div class="space-y-4">
            <p class="sm:hidden  h2 text-black">¿Cuándo estoy listo para tener una Página Web?</p>
            <Image class="shadow-2xl rounded-xl" src={tapizMobileImage} alt="Pantallas en formato para telefonos del sitio web restaurantejm.com.br" />
        </div>
        <div class="space-y-4 text-gray-600">
            <p class="hidden sm:block  h2 text-black">¿Cuándo estoy listo para tener una Página Web?</p>
            <p>
                No necesitas ser una gran empresa para tener una página web. Si tienes un negocio, una idea o un proyecto, ya estás listo. Yo me encargo de todo para que empieces con el pie derecho, sin complicaciones.
                <a href="#planes" class="link">Empieza hoy mismo y llevá tu presencia online al siguiente nivel.</a>
            </p>

        </div>        
    </TwoColumnsGrid>  

    <TwoColumnsGrid sectionClass="flex! flex-col-reverse sm:grid!">
        <div class="space-y-4 text-gray-600">
            <p class="hidden sm:block h2 text-black">Prueba Gratis</p>
            <p>¿Aún no estás seguro? <strong>Empieza con una prueba gratuita de 7 días.</strong> Puedes cancelarla en cualquier momento durante ese periodo, sin preguntas ni cargos.</p>
            
            <div class="text-center text-black grid sm:grid-cols-2 items-end gap-4 mt-8">
                <a class="btn-outlined " href="https://tapizguzman.com" target="_blank">Ver Diseño</a>
                <a class="btn-primary" href="#planes">Ver Plan</a>
            </div>
        </div>
        <div class="space-y-4">
            <p class="sm:hidden h2 text-black">Prueba Gratis</p>
            <Image class="shadow-2xl rounded-xl" src={tapizDesktopImage} alt="Pantallas en formato para computadores del sitio web restaurantejm.com.br" />
        </div>
    </TwoColumnsGrid>  
</SectionContainer>
